# Xcode
#
xcuserdata
*.xccheckout
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store
*.dSYM.zip
provisions/
fastlane/test_output/
fastlane/README.md
fastlane/report.xml
fastlane/git_changes.txt
fastlane/git_temp.txt
FastlaneMatch/
Carthage/Build/Mac/*
Carthage/Build/tvOS/*
Carthage/Build/watchOS/*
Carthage/Build/iOS/*.bcsymbolmap
node_modules/
